* {
    margin: 0;
    padding: 0;
}

h1 {
    /* font-family: 'Playfair Display SC', serif; */
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 65px;
    line-height: 48px;
    /* text-transform: uppercase; */
    color: #012868;
    font-weight: 900;
    letter-spacing: 2%;
}

h2 {
    /* font-family: 'Playfair Display SC', serif; */
    font-family: 'Montserrat Alternates', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #012868;

}

h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: rgba(0, 39, 104, .6);

}

/* ALL */

@media screen and (max-width:666px) {
    h2 {
        font-size: 25px;
    }
}


/* HEADER */
header {
    padding: 60px 10%;
    box-sizing: border-box;
    background-color: #FFEDE3;
    position: fixed;
    width: 100%;
    transition: 0.5s;

}

header.sticky{
    background: #012868;
    /* background: #fff; */
    width: 100vw;
    padding: 30px 10%;
    box-sizing: border-box;
    margin: 0;
    /* box-shadow: 0 5px 20px rgba(0,0,0,0.1); */
    transition: 0.5s;
}

header.sticky li a{
    color: #fff;
    /* color: #000; */
}

header.sticky li a:hover{
    color: #FDB88E;
    /* color: #000; */
}


ul {
    display: flex;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

li {
    list-style-type: none;
}

.nav_center {
    margin: 0 30px;
}

li a{
    color: rgba(0, 39, 104, .6);
    text-decoration: none;
}

li a:hover {
  color: #012868;
}

/* FIRST ONE */
.first_one {
    background-color: #FFEDE3;
    /* height:calc(100vh - 180px); */
    /* height: 100vh; */
    /* padding-top: 180px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 20px;
    padding: 180px 10% 0;
    box-sizing: border-box;
    /* background-image: url(./resources/images/girl_noback.png);
    background-size: 1000px;
    background-position: bottom 10px right 10px;
    background-repeat: no-repeat; */
}



.first_right.mobile {
    display:none;
}

.first_one .h3_center {
    margin: 0 0 20px;
}

.first_one .first_right {
    width: 100%;
    height: auto;
}

.first_one .first_right img{
    width: 100%;
}

.first_left {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.first_right.pc {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

button {
    padding: 36px;
    background-color: #FEB88D;
    border: none;
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: rgba(0, 39, 104, .6);

}

button:hover {
    background-color: #012868;
    color: #FEE6D7;
    cursor: pointer;
}

@media only screen and (max-width: 1150px){
    h1 {
        font-size: 40px;
        line-height: 40px;
    }


}

@media only screen and (max-width: 900px){
    h1 {
        font-size: 34px;
        line-height: 34px;
    }
}

@media only screen and (max-width: 900px){

    .first_one {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr; */
    }

    .first_right.pc {
        display: none;
    }

    .first_right.mobile {
        display: block;
    }
}


/*  SECOND */

.second_one {
    padding: 90px 10% 120px;
    box-sizing: border-box;
    background-color: #FFEDE3;
}

/* h2 {
  text-transform: uppercase;
} */

.second_grid {
    padding-top: 30px;
    /* display: grid; */
    /* grid-gap: 30px; */
    /* grid-template-columns: 1fr 1fr; */
}

.second_grid .gridd {
    /* border: 1px solid #3581AE; */
    /* padding: 60px; */
    line-height: 40px;
}

.second_grid h3 {
    font-size: 30px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 850px){
    .second_grid{
        /* grid-template-columns: 1fr; */

    }
}

/* THIRD */
.third_one {
    padding: 90px 10% 120px;
    background-color: #fff;
}

.third_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
}

.third_left h2{
    margin-bottom: 30px;
}

.third_right{
    display: flex;
    justify-content: right;
}


@media only screen and (max-width: 800px){
    .third_grid{
        grid-template-columns: 1fr;
    }

    .third_right img {
        width: 100%;
    }
}

/* FOURTH */
.fourth_one {
    padding: 90px 10% 120px;
}

.fourth_one h3 {
  margin-bottom: 15px;
  margin-top: 15px;
    /* margin-bottom: 30px; */
}

.fourth_one h2 {
    margin-bottom: 20px;
}

.little_h2 {
    font-size: 20px;
}

.fourth_grid {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 20px;
}

.box {
    padding: 30px;
    border: 1px solid #3581AE;
    border-radius: 5px;
    transition: .2s;
}


.image_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_box {
    max-height: 100%;
}

/* hr {
    color: #012868;
    box-shadow: #012868;
    margin: 10px 0;
} */

/* .box:hover {
    border: 2px solid #012868;
    transition: .2s;
} */

@media only screen and (max-width: 980px){
    .fourth_grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 660px){
    .fourth_grid{
        grid-template-columns: 1fr;
    }
}

/* FIFTH */

.fifth_one{
    background-color: #012868;
    padding: 90px 10% 120px;
    box-sizing: border-box;
}

.input_div{
    width: 400px;
}

.input {
    width: 100%;
    padding: 20px 30px;
    background-color: #012868;
    border: 1px solid rgba(250,250,250, 0.6);
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

input::placeholder {
  /* color: #FFEDE3; */
  color: white;
  opacity: 30%
}

.input.center {
    margin: 10px 0;
}

.fifth_one h2 {
    color: rgba(250,250,250, 0.6);
    width: 400px;
    margin-bottom: 30px;
}

.fifth_one .input_button {
    margin: 30px 0;
    width: 100%;
    padding: 30px 0;
    color: #012868;
    background-color: white;
}

.fifth_one .input_button:hover {
    background-color: #FEE6D7;
}

.icon {
    width: 37px;
    opacity: 60%;
}

.icon:hover {
    opacity: 100%;
}

.icon.center {
    margin: 0 15px;
}

@media only screen and (max-width: 500px){
    .input_div{
        width: 100%;
    }

    .fifth_one h2 {
        width: 100%;
    }
}

@media only screen and (max-width: 450px){
    h2 {
        font-size: 30px;
    }
}
